* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 10vw;
  padding: 0;
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.nav_container {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 70px;
  margin: 25px 0;
}

.nav_container a {
  font-family: 'Ubuntu Mono', monospace;
  color: #406eff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  margin-left: 14px;
  transition-duration: .2s;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 480px) {
  .nav_container {
    text-align: right;
    padding: 0 10%;
  }
}

.nav_container a:hover {
  color: #244189;
}

.headcontent{
  top: 100px;
  width: 100%;
  position: relative;
  align-items: center;
  margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  .headcontent {
    margin-bottom: 0;
  }
}

.imgbox {
  width: 100%;
  object-fit: contain;
}
.profimg {
  max-width: 100%;
  box-shadow: 0 0 15px -4px;
}

.blueline {
  margin-top: 10%;
  border-bottom: 500px solid #406eff;
}

h1, p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.linkbox {
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  border: 3px solid #406eff;
  color: #406eff;
  margin-bottom: 10%;
  font-weight: 600;
  width: 60%;
  margin: 0 auto 10% auto;
  transition: all .2s ease-in-out;
}

.linkbox p {
  font-family: 'Ubuntu Mono', monospace;
}

#resume {
  font-size: .9em;
  transition: all .2s ease-in-out;
}

.linkbox a {
  text-decoration: none;
  color: #406eff;
  transition: all .2s ease-in-out;
  display: inline-block;
  width: 100%;
  border-radius: 50px;
}

.textcontent a {
  color: #406eff;
  font-weight: 400;
  text-decoration: none;
}

.linkbox:hover {
  background-color: #406eff;
}

.linkbox:hover a {
  color: #fff;
}


@media only screen and (min-width: 768px) {
  .headcontent {
    top: 70px;
    display: flex;
  }
  .imgbox {
    min-width: 25%;
    height: auto;
    display: inline-block;
    margin-right: 5%;
  }

  .text-content {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(0, -  50%);
    align-items: left;
  }
  .textcontent p {
    font-weight: 300;
    text-align: left;
  }
  .textcontent h1 {
    text-align: left;
  }
  .linkbox {
    border-width: 2px;
    margin: initial;
    width: 30%;
  }
  .linkbox p {
    text-align: center;
  }
}


/* Tiles */

h1, h2, p, li {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.tiles {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(29%, 1fr));
  grid-gap: 5px;
  margin-bottom: 10vh;
}

.tilecard {
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.tilecard::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.tilecard .content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.tilecard img {
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  padding: 7%;
}

.content h2 {
  text-align: left;
  color: #fff;
  line-height: 1.1em;
  font-weight: 600;
}
.tilecard img {
  flex-shrink: 0;
  min-height: 100%;
  max-width: 100%;
}
.tilecard:hover {
  background-color: #fff;
}

.infocard {
  opacity: 0;
  position: absolute;
  height: 100%;
  padding: 5%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all .2s ease-in-out;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.long .infocard {
  padding: 5%;
}

.big_square .infocard {
  padding: 5%;
}

.project {
  font-weight: 600;
  font-size: 1em;
}

.tiles .linkbox {
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid #406eff;
  color: #406eff;
  margin-bottom: 10%;
  font-weight: 600;
  width: 60%;
  margin: 0 auto 10% auto;
  transition: all .2s ease-in-out;
}

.linkbox p {
  font-family: 'Ubuntu Mono', monospace;
  font-size: .75em;
  transition: all .2s ease-in-out;
}

.linkbox a {
  text-decoration: none;
  color: #406eff;
  transition: all .2s ease-in-out;
  display: inline-block;
  width: 100%;
  border-radius: 50px;
}

.info {
  font-weight: 300;
  font-size: .75em;
}

.tiles {
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
}
#centercard {
  grid-column: 1 / span 3;
}

hr {
  border: 1px solid #406eff;
  border-radius: 10px;
  margin-left: 0;
  margin-bottom: .83em;
}

@media only screen and (min-width: 768px) {
  hr {
    width: 5%;
    margin: .83em 0 .83em 0;
  }
}

.wordcard {
  background-color: #406eff;
  font-size: .75em;
}
.wordcard:hover {
  background-color: #406eff;
}

.tiles .linkbox:hover {
  background-color: #406eff;
}
.tiles .linkbox:hover p {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .tiles {
    grid-template-columns: repeat(auto-fill, minmax(29%, 1fr));
  }
  #centercard {
    grid-column: 1 / span 3;
  }
  .wordcard {
    font-size: 1em;
  }
}

@media only screen and (min-width: 992px) {
  .tiles {
    grid-template-columns: repeat(6, 1fr);
  }
  #centercard {
    grid-column: 1 / span 5;
  }
  .long {
    grid-column: span 2;
  }
  .long::before {
    padding-top: 50%;
  }
  .big_square {
    grid-column: span 2;
    grid-row: span 2;
  }
  .big_square::before {
    padding-top: 50%;
  }
  .tall {
    grid-row: span 2;
  }
  .wordcard {
    font-size: 1em;
  }
  .tiles .linkbox {
    border-width: 2px;
    margin: initial;
    width: 100%;
  }
  .tiles .linkbox p {
    text-align: center;
  }
}

.tilecard:hover .infocard {
  opacity: 1;
}



/* Experience section */

h3 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5px;
  font-size: 1.25em;
}

.leftbox p, li {
  text-align: left;
  font-size: 1em;
  margin: 0;
}

.sectionhead {
  margin-top: 5%;
}

.tablerow {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  padding: 10%;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

@media only screen and (min-width: 769px) {
  .tablerow {
    flex-direction: row;
    padding: 2%;
  }
  h2 {
    text-align: left;
  }
}

.grey {
  background-color: #F9F9F9;
}

.biobox h3 {
  text-align: center;
}

.biobox li {
  text-align: center;
}

.tablerow p, li {
  text-align: center;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
    .tablerow p, li {
      text-align: left;
    }
}

.title {
  font-weight: 400;
  margin-top: 0px;
}

.leftbox {
  min-width: 30%;
  padding: auto;
}
.date {
  font-weight: 300;
  font-style: italic;
}

.leftbox img {
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 auto;
  display: block;
}

.rightbox h3 {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .leftbox img {
    display: inline;
    max-width: 70%;
  }
  .rightbox h3 {
    text-align: left;
  }
  h3 {
    margin: 0;
  }
}

.container {
  margin-top: 3%;
}

.rightbox p {
  line-height: 1.5em;
}

/* Bio box */

.biobox {
  display: flex;
  padding: 0;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 1em;
}

.flexbox {
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 5%;
  padding: 2% 0 2% 0;
}

.biobox .grey {
  padding: 5%;
  border-radius: 5px;
}

.last {
  margin-right: 0;
  flex-basis: 1;
}

@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1em;
  }

  .biobox {
    flex-direction: row;
  }

  .flexbox {
    margin-bottom: 0%;
    margin-right: 3%;
  }

  .biobox .grey {
    padding: 2%;
  }

  .flexbox {
    margin-right: 3%;
  }

  .last {
    margin-right: 0;
  }
}
